@model TwitterBlueBird.ViewModels.IndexViewModel

@section Scripts
{
	<script>
		// With slightly more time, easy refactor: add constant url or add url to
		// data attributes on buttons to allow javascript to be put in a
		// non-razor file.
		$('.RateHappyBtn').click(function (tweet) {
			$.ajax({
				url: '@(Url.Action("RateHappy", "Tweets"))',
				type: "POST",
				data: { id: $(tweet.target).data("id") },
				cache: false,
				async: true,
				success: function (data) {
					$("#" + data).fadeOut(300, function () {
						$("#" + data).remove();
					});
				}
			});
		});
		$('.RateAngryBtn').click(function (tweet) {
			$.ajax({
				url: '@(Url.Action("RateAngry", "Tweets"))',
				type: "POST",
				data: { id: $(tweet.target).data("id") },
				cache: false,
				async: true,
				success: function (data) {
					$("#" + data).fadeOut(300, function () {
						$("#" + data).remove();
					});
				}
			});
		});
	</script>
}

@{
	ViewBag.Title = "Twitter BlueBird";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rate these Tweets!</h2>

<table class="table">
	@foreach (var item in Model.RatableTweets)
	{
		<tr id="@item.Id">
			<td>
				@Html.DisplayFor(modelItem => item.Text)
			</td>
			<td>
				<div class="btn-group">
					<button data-id="@item.Id" class="btn btn-outline-success RateHappyBtn">Happy</button>
					<button data-id="@item.Id" class="btn btn-outline-danger RateAngryBtn">Angry</button>
				</div>
			</td>
		</tr>
	}
</table>

<h1>Top 10 Happy Words</h1>

<div class="list-group">
	@foreach (var item in Model.TopHappyWords)
	{
		<span class="list-group-item list-group-item-action list-group-item-success">@item.Text</span>
	}
</div>

<h1>Top 10 Angry Words</h1>

<div class="list-group">
	@foreach (var item in Model.TopAngryWords)
	{
		<span class="list-group-item list-group-item-action list-group-item-danger">@item.Text</span>
	}
</div>
